:root {
  font-size: 16px;
}

#root, .App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track{
  background: rgb(212, 212, 212);
}

body::-webkit-scrollbar-thumb {
  background: rgb(43, 37, 39);
  border-radius: 10px;
}

html, body {
  height: 100%;
}

.navbar {
  top: 0;
  background-color: #EB5E55;
  width: 100%;
  display: flex;
  height: 4rem;
  justify-content: space-evenly;
  color: blanchedalmond;
  list-style: none;
  align-items: center;
  font-size: 2rem;
  font-family: 'Righteous', cursive;
}

.navitem:first-child {
  margin-right: auto;
}

.navitem:last-child {
  margin-right: 5rem;
}

.navitem {
  margin: 1rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  height: 5rem;
  transition: 200ms ease;
  right: 0;
}

.nav-text {
  padding-right: 1rem;
  line-height: 50px;
  margin: 0;
  transition: 600ms ease;
  visibility: hidden;
  opacity: 0;
}

.navitem:hover .nav-text{
  transition: 600ms ease;
  display: inline-block;
  visibility: visible;
  opacity: 1;
  color: white;
}

.navitem:hover {
  transition: 600ms;
}

.navitem a svg{
  color: white;
  height: 3rem;
  width: 3rem;
}

.navitem a {
  color: white;
}

.navitem:hover a{
  color: white;
  text-shadow: 2px 2px rgb(245, 200, 109);
  width: 5rem;
}
.navitem:hover a svg{
  color: white;
  transition: 200ms ease-in-out;
  -webkit-filter: drop-shadow( 2px 2px rgb(245, 200, 109));
  filter: drop-shadow( 2px 2px rgb(245, 200, 109));
}

.main {
  display: flex;
  justify-content: flex-start;
}

.friends {
  width: 21rem;
  display: inline-block;
  height: 100vh;
  background-color: #3A3335;
  left: 0;
  position: sticky;
  top: 0;
  font-family: 'Righteous', cursive;
  overflow-y: scroll;
}

.friends-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.friends-list li {
  padding: 1rem;
  color: white;
  transition: 600ms;
}

.friend-details {
  color: white;
  padding: 0 1rem 1rem 1rem;
}

.friends h2{
  margin: auto 0;
  font-family: 'Righteous', cursive;
  font-size: 1.25rem;
}

.friend-label {
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
}

.friend-details img{
  max-width: 13rem;
}

.friend {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.friend-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend-invite {
  height: 50%;
}

.friend-header svg {
  width: 2rem;
  color: white;
}

.friend-header:hover {
  background-color: rgb(48, 41, 43);
  transition: 600ms;
  font-family: 'Righteous', cursive;
  cursor: pointer;
}

.section {
  margin: 2.5rem 1.5rem;
  flex-direction: column;
}

.meetup-map {
  display: flex;
  justify-content: flex-start;
}

.meetup-container {
  width: 250px;
  height: 400px;
  margin: 0 0 1.5rem 1.5rem;
}

.accordion ui styled {
  width: 400px;
  margin: 1rem;
}

.display-enter {
  opacity: 0;
  transform: translateY(-10%);
}

.display-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms, transform 400ms;
}

.display-exit {
  opacity: 0;
  transform: translateY(-10%);
  transition: .3s ease-in-out;
}

.display-exit-active {
  opacity: 0;
  transition: .3s ease-in-out;
  transition: opacity 300ms, transform 300ms;
}

.profile-section {
  background-color: #3A3335;
  width: 100vw;
  height: 100%;
  display: flex;
}

.profile-div {
  top: 5rem;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 15px;
  border-radius: 5px;
  width: 23%;
  height: 75%;
  margin: auto;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.profile-front {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 1rem;
  backface-visibility: hidden;
  background-color: rgb(218, 203, 203);
  border-radius: 5px;
}

.profile-back {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 3rem;
  backface-visibility: hidden;
  background-color: rgb(197, 182, 182);
  transform: rotateY(180deg);
  border-radius: 5px;
}

.profile-div.flip {
  transform: rotateY(180deg);
  transition: 700ms ease-in-out;
}

.profile-front svg {
  width: 4rem;
}

.profile-header {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.profile-header h3 {
  margin: 0 0 1rem 0;
}

.profile-image-container {
  justify-content: center;
  display: flex;
  padding: 1rem;
}

.profile-image-circle {
  width: 10rem;
  height: 10rem;
  background-color: rgb(143, 77, 77);
  border-radius: 50%;
  bottom: 3rem;
  box-shadow: 0 0 10px  rgba(0,0,0,10);
}

.profile-image {
  width: 9rem;
  height: 9rem;
  background-color: rgb(190, 101, 101);
  border-radius: 50%;
  margin: .5rem auto;
}

#yelpsearch {
  margin: auto;
  width: 20rem;
  text-align: center;
}

.hangout{
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.hangout-div {
  margin-bottom: 1rem;
  height: 3rem;
  text-align: center;
}

.hangout-div svg {
  width: 2rem;
  color: #3A3335;
  margin-right: 0.5rem;
  position: relative;
  top: 0.75rem;
}

.hangout-time {
  display: flex;
  margin-bottom: 6px;
}

.hangout-time svg {
  width: 2rem;
  color: #3A3335;
  margin-right: 0.65rem;
  position: relative;
  height: 37px;
}

.hangout-friends {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.create-form{
  text-align: center;
}

.create-section {
  background-color:#3A3335;
}

.create-map{
  float: right;
  display: flex;
}

.create-header {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  color: white;
  font-family: 'Righteous', cursive;
}

.create-hangout {
  position: relative;
  margin: 0 1rem;
  text-align: center;
  top: 1rem;
}

.create-hangout h2, label{
  color: #3A3335;
  text-align: center;
  font-family: "Righteous", cursive;
  margin: 0;
}

.hangout-friends .ui.button {
  background-color: #3A3335;
  color: white;
  box-shadow: 0 0 5px black;
  width: 295px;
}

.hangout-friends:hover .ui.button {
  filter: brightness(1.2);
  background-color: #3A3335;
  color: white;
  box-shadow: 0 0 5px black;
}

.ui.input {
  width: 255px;
}

.ui.selection.dropdown {
  width: 255px;
}

.ui.fluid.dropdown {
  width: 295px;
}

.ui.button {
  background-color: #EB5E55;
  color: white;
  box-shadow: 0 0 5px black;
}

.ui.button:hover {
  filter: brightness(1.2);
  background-color: #EB5E55;
  color: white;
}

.leaflet-popup-content-wrapper {
  display: flex;
  flex-direction: column;
}

.leaflet-popup-content-wrapper h3 {
  margin: 0;
}

.popup {
  font-size: 13px;
  font-family: "Lato",'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.popup h4 {
  font-family: "Lato",'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0;
}

.leaflet-popup-content {
  margin: 5px;
}

.popup-text {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.popup-image {
  width: 90%;
  height: 10rem;
  width: 14rem;
  object-fit: cover;
  display: block;
  background-color: rgb(218, 203, 203);
}

.create-container{
  display: flex;
  justify-content: space-around;
  height: 550px;
  border-radius: 25px;
  margin: 0 1rem 1rem 1rem;
  padding: 2rem;
  background-color: rgb(218, 203, 203);
}

#login {
  top: 75%;
  left: 48%;
}