:root {
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track{
  background: rgb(212, 212, 212);
}

body::-webkit-scrollbar-thumb {
  background: rgb(43, 37, 39);
  border-radius: 10px;
}

.navbar {
  top: 0;
  background-color: #EB5E55;
  width: 100%;
  display: flex;
  height: 5rem;
  justify-content: space-evenly;
  color: blanchedalmond;
  list-style: none;
  align-items: center;
  font-size: 2rem;
  font-family: 'Righteous', cursive;
}

/* rgb(255, 78, 78) red
rgb(31, 25, 25) brown 
#F05365 red pink*/

.navitem:first-child {
  margin-right: auto;
}

.navitem:last-child {
  margin-right: 3rem;
}

.navitem {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.navitem a svg{
  color: white;
  height: 3rem;
  width: 3rem;
}

.navitem a {
  color: white;
}

.navitem:hover a{
  color: rgb(245, 200, 109);
  text-shadow: 1px 1px rgb(252, 31, 31);
  transition: 600ms;
}
.navitem:hover a svg{
  color: rgb(245, 200, 109);
  text-shadow: 1px 1px rgb(252, 31, 31);
  transition: 600ms;
}

.main {
  display: flex;
  justify-content: flex-start;
}

.friends {
  width: 25rem;
  display: inline-block;
  height: 100vh;
  background-color: #3A3335;
  left: 0;
  position: sticky;
  top: 0;
  font-family: 'Righteous', cursive;
  overflow-y: scroll;
}

.friends-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.friends-list li {
  margin-bottom: 1rem;
  padding: 1rem;
  color: white;
}

.friend-details {
  color: white;
  padding: 0 1rem 1rem 1rem;
}

.friends h2{
  font-family: 'Righteous', cursive;
  font-size: 1.25rem;
}

.friend-label {
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
}

.friend-details img{
  max-width: 13rem;
}

.friend:hover {
  background-color: rgb(48, 41, 43);
  transition: 600ms;
  font-family: 'Righteous', cursive;
  cursor: pointer;
  /* filter: brightness(1.2) */
}

.section {
  margin: 3rem;
}

.display-enter {
  opacity: 0;
  transform: translateY(-30%);
}

.display-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms, transform 400ms;
}

.display-exit {
  opacity: 0;
  transform: translateY(-30%);
  transition: .3s ease-in-out;
}

.display-exit-active {
  opacity: 0;
  transition: .3s ease-in-out;
  transition: opacity 300ms, transform 300ms;
}
